<h1>Добавить занятие</h1>

<form method="post">
Дата:
<input type="date" name="date" required><br>

Тренер:
<select name="coach_id">
{% for c in coaches %}
<option value="{{ c.id }}">{{ c.last_name }} {{ c.first_name }}</option>
{% endfor %}
</select><br>

Ученики:<br>
{% for s in students %}
<input type="checkbox" name="student_ids" value="{{ s.id }}">
{{ s.last_name }} {{ s.first_name }}<br>
{% endfor %}

Статус:
<select name="status">
<option>Запланировано</option>
<option>Состоялось</option>
</select><br>

<button type="submit">Сохранить</button>
</form>
