{% extends "base.html" %}
{% block title %}Добавить тренера{% endblock %}
{% block content %}
<h1>Добавить тренера</h1>

<form method="POST">
    <label>Фамилия:<input type="text" name="last_name" required></label><br><br>
    <label>Имя:<input type="text" name="first_name" required></label><br><br>
    <label>Отчество:<input type="text" name="middle_name"></label><br><br>
    <label>Контакты:<input type="text" name="contacts"></label><br><br>
    <label>День рождения:<input type="date" name="birthday"></label><br><br>
    <label>Кол-во проведённых занятий:<input type="number" name="lessons_count" value="0"></label><br><br>
    <label>Кол-во оплаченных занятий:<input type="number" name="lessons_paid" value="0"></label><br><br>
    <label>Оплата за одного ученика:<input type="number" name="student_payment" value="0"></label><br><br>
    <label>Доп. информация:<input type="text" name="additional_info"></label><br><br>
    <button type="submit">💾 Сохранить</button>
</form>
<br>
<a href="{{ url_for('coaches') }}">⬅ Назад</a>
{% endblock %}