{% extends "base.html" %}
{% block title %}Добавить занятие{% endblock %}
{% block content %}
<h1>Добавить занятие</h1>

<form method="post">
    <label>Дата:<input type="date" name="date" required><br><br></label>
    <label>Тренер:<select name="coach_id">
        {% for c in coaches %}
        <option value="{{ c.id }}">{{ c.last_name }} {{ c.first_name }}</option>
        {% endfor %}
    </select>
    </label><br><br>

    <label>Ученики:<br>
        {% for s in students %}
        <label>
            <input type="checkbox" name="student_ids" value="{{ s.id }}">
            {{ s.last_name }} {{ s.first_name }}
        </label><br>
        {% endfor %}
    </label>

    <label>Статус:
        <select name="status">
            <option>Запланировано</option>
            <option>Состоялось</option>
        </select>
    </label><br><br>

    <button type="submit">💾 Сохранить</button>
</form>
<br>
<a href="{{ url_for('lessons') }}">⬅ Назад</a>
{% endblock %}
