{% extends "base.html" %}
{% block title %}Покупка абонемента{% endblock %}
{% block content %}

<h1>Покупка абонемента</h1>
<a href="{{ url_for('students') }}" class="btn">❌ Отмена</a>
{% for card in cards %}
<form action="{{ url_for('purchased_cards') }}" method="post">

    <!-- передаваемые данные -->
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="student_id" value="{{ student_id }}">

    <button type="submit" style="
        all: unset;
        cursor: pointer;
        display: block;
        width: 100%;
    ">
        <div style="
            border: 1px solid #ccc;
            padding: 12px;
            margin-bottom: 10px;
            background-color: {{ card.color }};
            width: 300px;
        ">
            <strong>{{ card.name }}</strong><br>
            Цена: {{ card.price }} ₽<br>
            Занятий: {{ card.lessons_count }}<br>
            Длительность: {{ card.duration }} мин<br>
            Статус: {{ card.status }}
        </div>
    </button>
</form>
{% endfor %}
{% endblock %}
