{% extends "base.html" %}
{% block title %}Отчеты{% endblock %}
{% block content %}
<h1>📈 Отчеты</h1>
<nav class="submenu">
    <a href="{{ url_for('lessons_report') }}" class="menu-link">Занятия</a>
    <a href="{{ url_for('students_report') }}" class="menu-link">Ученики</a>
    <a href="{{ url_for('coaches_report') }}" class="menu-link">Тренеры</a>
    <a href="{{ url_for('cards_report') }}" class="menu-link">Абонементы</a>
</nav>
<h2>Статистика по абонементам</h2>
<br>
<div class="period-control">
    <form action="/cards_report" method="get">
        <label>Период: c</label>
        <input class="custom-select" type="date" id="date-from" name="date_from" value="{{ date_from }}">
        <span>по</span>
        <input class="custom-select" type="date" id="date-to" name="date_to" value="{{ date_to }}">
        <button class="btn" type="submit">🔍 Показать</button>
    </form>
</div>
<hr>
<div>
    <label>Всего продано:</label><b>{{ sold_card_count }}</b>
    <label>На сумму:</label><b>{{ sold_cards_sum }}</b>
</div>
{% endblock %}