{% extends "base.html" %}

{% block title %}Редактировать Абонемент{% endblock %}

{% block content %}
<h1>Редактировать Абонемент</h1>
<form method="POST">
    <label>Название: <input type="text" name="name" value="{{ card.name }}" required></label><br><br>
    <label>Цена: <input type="number" name="price" value="{{ card.price }}" required></label><br><br>
    <label>Кол-во занятий: <input type="number" name="lessons_count" value="{{ card.lessons_count }}"
                                  required></label><br><br>
    <label>Длительность: <input type="text" name="duration" value="{{ card.duration }}" required></label><br><br>
    <label>Цвет: <input type="text" name="color" value="{{ card.color }}"></label><br><br>
    <br><br>
    <button type="submit" class="btn">💾 Сохранить</button>
    <a href="{{ url_for('cards') }}" class="btn">❌ Отмена</a>
</form>
{% endblock %}
