{% extends "base.html" %}
{% block title %}Редактировать занятие{% endblock %}
{% block content %}
<h1>Редактировать занятие</h1>

<form method="post">
Дата:
<input type="date" name="date" value="{{ lesson.date }}"><br>

Тренер:
<select name="coach_id">
{% for c in coaches %}
<option value="{{ c.id }}"
{% if c.id == lesson.coach_id %}selected{% endif %}>
{{ c.last_name }} {{ c.first_name }}
</option>
{% endfor %}
</select><br>

Ученики:<br>
{% set ids = lesson.student_ids.split(',') %}
{% for s in students %}
<input type="checkbox" name="student_ids" value="{{ s.id }}"
{% if s.id|string in ids %}checked{% endif %}>
{{ s.last_name }} {{ s.first_name }}<br>
{% endfor %}

Статус:
<select name="status">
<option {% if lesson.status=='Запланировано' %}selected{% endif %}>Запланировано</option>
<option {% if lesson.status=='Состоялось' %}selected{% endif %}>Состоялось</option>
</select><br>

<button type="submit">💾 Сохранить</button>
</form>
<br>
<a href="{{ url_for('lessons') }}">⬅ Назад</a>
{% endblock %}
