<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
</head>
<body>
<h1>Группы</h1>
<a href="{{ url_for('add_group') }}">Добавить группу</a><br><br>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Список учеников (ID)</th>
        <th>Действия</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.student_ids }}</td>
        <td>
            <a href="{{ url_for('edit_group', group_id=group.id) }}">✏️</a>
            <a href="{{ url_for('delete_group', group_id=group.id) }}">🗑️</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('index') }}">Главная</a>
</body>
</html>
