{% extends "base.html" %}
{% block title %}Шаблоны занятий{% endblock %}
{% block content %}
<h1>📚 Шаблоны занятий</h1>
<a href="{{ url_for('add_lesson_template') }}" title="Добавить шаблон">
    <img src="{{ url_for('static', filename='images/add_icons.gif') }}"
         alt="Добавить шаблон"
         width="50"
         height="50">
</a>
<table border="1">
    <tr class="section_sub_title">
        <th>Ученики</th>
        <th>Действия</th>
    </tr>

    {% for l in lesson_templates %}
    <tr>
        <td class="section_title" colspan="4">{{ l.template_name }} <i>{% for c in coaches %}
            {% if c.id == l.coach_id %}
            {{ c.last_name }} {{ c.first_name }}
            {% endif %}
            {% endfor %}</i></td>
    </tr>
    <tr>
        <td>
            {% set ids = l.student_ids.split(',') %}
            {% set counter = namespace(value=1) %} {# используем namespace для изменяемого значения #}
            {% for s in students %}
            {% if s.id|string in ids %}
            {{ counter.value }}. {{ s.last_name }} {{ s.first_name }}<br>
            {% set counter.value = counter.value + 1 %}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            <a href="{{ url_for('edit_lesson_template', lesson_template_id=l.id) }}" title="Редактировать">
                <img src="{{ url_for('static', filename='images/edit_icons.gif') }}"
                     alt="Редактировать"
                     width="50"
                     height="50">
            </a>
            <a href="#" class="delete-btn" data-url="{{ url_for('delete_lesson_template', lesson_template_id=l.id) }}"
               title="Удалить">
                <img src="{{ url_for('static', filename='images/delete_icons.gif') }}"
                     alt="Удалить"
                     width="50"
                     height="50">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% endblock %}
