<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Занятия</title>
</head>
<body>
<h1>Занятия</h1>
<a href="{{ url_for('add_lesson') }}">Добавить занятие</a>

<table border="1">
<tr>
  <th>ID</th>
  <th>Дата</th>
  <th>Тренер</th>
  <th>Ученики</th>
  <th>Статус</th>
  <th></th>
</tr>

{% for l in lessons %}
<tr>
  <td>{{ l.id }}</td>
  <td>{{ l.date | ru_date }}</td>
  <td>
    {% for c in coaches %}
      {% if c.id == l.coach_id %}
        {{ c.last_name }} {{ c.first_name }}
      {% endif %}
    {% endfor %}
  </td>
<td>
  {% set ids = l.student_ids.split(',') %}
  {% for s in students %}
    {% if s.id|string in ids %}
      {{ s.last_name }} {{ s.first_name }}<br>
    {% endif %}
  {% endfor %}
</td>
  <td>{{ l.status }}</td>
  <td>
    <a href="{{ url_for('lesson_done', lesson_id=l.id) }}" title="Состоялось">✅</a>
    <a href="{{ url_for('edit_lesson', lesson_id=l.id) }}" title="Редактировать">✏️</a>
    <a href="{{ url_for('delete_lesson', lesson_id=l.id) }}" title="Удалить">🗑️</a>
  </td>
</tr>
{% endfor %}
</table>

Шаблоны:
<select id="lesson_template_select">
    {% for l in lesson_templates %}
        <option value="{{ l.id }}">{{ l.template_name }}</option>
    {% endfor %}
</select>

<a href="#"
   class="btn"
   onclick="addFromTemplate()">➕ Добавить из шаблона</a>
<br>
<a href="{{ url_for('index') }}">Главная</a>
</body>
</html>
<script>
function addFromTemplate() {
    const select = document.getElementById("lesson_template_select");
    const id = select.value;
    window.location.href = `/lesson_template/add/${id}`;
}
</script>